
/* Definiciones Nav */ 
.nav{ background-color: rgb(160, 223, 223);
    height: 30px;
    width: 1308px;
    padding: 150 px;
    margin-left: 90px;
  
   
}
.logo{
    
    
    width: 160px;
    height: 150px;
    margin-left: 45%;
    text-align: center;
}
.nav  li{
    list-style: none;
    display: inline;
    position: relative;
    font-size: 15px;
    padding: 0 60px;
    }
    ul li a{text-decoration: none;}

.subcustodia{display: none;
position: absolute;}


.subcustodia li{
    display: block;
    background-color: rgb(160, 164, 223);
    padding: 5px;
    position: absolute;
}


.subcomplementarios{display: none;
    position: absolute;}
    
    
.subcomplementarios li{
        display: block;
        background-color: rgb(46, 49, 49);
    }
.nav li:hover ul{
    display: block;
}



    
        
       
        
        /****************************/ 
        /*******Custodia VIP*********/
        /****************************/
    
    .pricvip{
        
        display: inline-block;
        margin-top: 10px;
        width: 1300px;
        height: 340px;
       
    }
        .img1cvip{
        
        display: inline-block;
        margin-left: 150px;
        margin-top: 5px;
        width: 390px;
        height: 300px;
        position: absolute;
    }
    
        .txt1cvip{
           
            display: inline-block;
            margin-left: 650px;
            margin-top: 10px;
            width: 300px;
            height: 300px;
            position: absolute;
            justify-content: center;
            }
.seccvip{
    
    display: inline-block;
        margin-top: 10px;
        width: 1300px;
        height: 340px;
}
    

.txt2cvip{
       
    display: inline-block;
    margin-left: 150px;
    margin-top: 5px;
    width: 390px;
    height: 300px;
    position: absolute;
    }

.img2cvip{
    display: inline-block;
    margin-left: 650px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    justify-content: center;
    }


     

/*         Definiciones Footer         */ 
.footer{
    background-color: rgb(160, 223, 223);
        width: 1308px;
        height: 50px;
        display:inline-block;}









    /****************************/ 
    /********Staff***********/ 
    /****************************/ 

    .staff{
        
        display: inline-block;
        margin-top: 10px;
        width: 1300px;
        height: 340px;
       
    }
        .imgceo{
        
        display: inline-block;
        margin-left: 150px;
        margin-top: 5px;
        width: 390px;
        height: 300px;
        position: absolute;
    }
    
        .txtceo{
           
            display: inline-block;
            margin-left: 650px;
            margin-top: 10px;
            width: 300px;
            height: 300px;
            position: absolute;
            justify-content: center;
            }


/****************************/ 
/********Clientes***********/ 
/****************************/ 
.grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: 
    "bmw coca"
    "pfizer toyota"
    ;
}

.bmw{
    grid-area: bmw;
}
.toyota{
    grid-area: toyota;
}
.pfizer{
    grid-area: pfizer;
}
.coca{
    grid-area: coca;
    justify-self: center;
    align-self: center;
}
 .clientes{
     text-align: center;
     background-color: aqua;
 }

/****************************/ 
/****************************/ 
/****************************/ 









  
.priindex{
        
    display: inline-block;
    margin-top: 10px;
    width: 1300px;
    height: 340px;
   
}
    .img1index{
    
    display: inline-block;
    margin-left: 95px;
    margin-top: 5px;
    width: 390px;
    height: 300px;
    position: absolute;
}
.img2index{
    display: inline-block;
    margin-left: 920px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    justify-content: center;
    }

    .secindex{
        margin-left: 95px;
        
        display: inline-block;
        margin-top: 20px;
        width: 1270px;
        height: 500px;}
    
          .img1secindex{
              display: inline-block;
              margin-left: 0px;
              margin-top: 25px;
              width: 390px;
              height: 300px;
              position: absolute;
          }
          .img2secindex{
            display: inline-block;
            margin-left: 567px;
            margin-top: 0px;
            width: 300px;
            height: 300px;
            position: absolute;
            justify-content: center;
            
        }
        
       



/****************************/ 
/********Media querys***********/ 
/****************************/ 



       

        @media screen and (max-width: 500px){
            .priindex{
        
                border: solid black;
                margin-top: 10px;
                width: 800px;
                height: 750px;
               
            }
            }
            @media screen and (max-width: 500px){
                .img1index{
                    margin-left: 0px;
                    display: block;
                }
                
            }
            @media screen and (max-width: 500px){
                .img2index{
                    margin-top: 390px;
                    margin-left: 200px;
                }
                
                
            




        }
        @media screen and (max-width: 500px){
            .secindex{
                margin-left: 5px;
                border: solid black;
                margin-top: 10px;
                width: 800px;
                height: 900px;}
            
            
        }
        @media screen and (max-width: 500px){
            .img1secindex{
                display: block;
                margin-left: 50px;
            }
            
        }
        @media screen and (max-width: 500px){
            .img2secindex{
                display: block;
                margin-top: 400px;
                margin-left: 50px;
            }
            
        }
        @media screen and (max-width: 500px){
            .nav{
                height: 120px;
                width: 450px;
                padding: 150 px;}
        }
       
        @media screen and (max-width: 500px){

            .grid{
                margin-top: 10px;
                display: grid;
                grid-template-columns: 3fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                "bmw"
                "pfizer" 
                "toyota"
                "coca"
                ;
            }



        }